/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins:wght@400;700&display=swap");
@font-face{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* VARIABLES */
:root {
    --red: rgb(77, 9, 9);
    --cream: rgb(237 232 226);
    --white: rgb(255 255 255);
    /* BORDER-RADIUS */
    --border-radius: 10px;
    /* FONTS */
    --font-main: "Montserrat", sans-serif;
    --font-heading: "Poppins", sans-serif;
}



**************** FOOOOTTTTEEEEERRRRRRRRRR ************************ ****************************************************************** 



footer {
    background-color: rgb(122, 122, 122);
}


footer {
    background-color: rgb(122, 122, 122);
    text-align: right;
}

#mentions li {
    display: inline-flex;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#mentions {

    display: flex;
    justify-content: end;
}

.rezofoot {
    display: flex;
    justify-content: end;
}

.rezofoot ul li {
    display: inline-flex;
    justify-content: flex-end;
}

#mentions a:hover {
    color: antiquewhite;
}

.rezofoot ul li img {
    height: 50px;
}

.copy {
    margin: 1rem 0 0 1rem;
    display: flex;
    
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 1.2rem;

}

.categorie{
    margin-left: 20px;
}

.exploit{
    display: flex;
    direction: row;
    justify-content: space-evenly;
    
}





********** FFIIIIINNNNN FOOOOTTTTEEEEERRRRRRRRRR ***************** ****************************************************************** 

.Consommable{
    color: rgb(180, 12, 12);
    top: 10px;
    line-height: 30px;
}
.details{
    color:rgb(100, 76, 76);
    top:10px;
    margin-left: 30px;
}

.midmenu{
    text-align: center;
}

.prix{
display: flex;
float: right;
}

HTML, body {
    font-family: var(--font-main);
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--cream);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;
    color: black;
}

h1,h2 {
    font-family: var(--font-heading)!;
}

li {
    list-style-type: none;
}

.img-rs {
    width: 5rem;
    height: 5rem;
}

.btn {
    display: inline-block;
    border: 1px solid var(--cream);
    background-color: var(--red);
    color: var(--cream);
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}



.btn:hover {
    background-color: transparent;
}

footer {
    background-color: rgb(180, 180, 180);
}

/*************************** HEADER *********************************/

header {
    margin: 0;
    background-image: url("asset/guing.jpg");
    background-color: var(--red);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 7rem;
    transition all 0.5s ease-in-out;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding-left: 2rem;
}

.logo img {
    height: 4rem;
}

.inscr ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    list-style-type: none;
    padding-top: 1rem;
}

.inscr ul li a {
    text-decoration: none;
    color: var(--cream);
}

.nav {
    margin-top: 4rem;
    top: 6rem;
    display: block;
}

.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    list-style-type: none;
    background-color: var(--red);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: var(--red);
    color: var(--cream);
    padding: 0.5rem 2rem;
}

.nav ul li a:hover {
    background-color: var(--cream);
    color: var(--red);
}

.nav ul li a:active {
    transform: scale(0.90);
    background-color: var(--white);
}

/******************* FIN DU HEADER *********************/

#main-image h1, p{ 
    text-align: center  
}

.main-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}

#menu{  text-align: center;
    border: 3px solid var(--red);


}
#reservation{text-align: center;
    border: 3px solid var(--red);

}
#menu .btn{
    animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
#reservation .btn{
    animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}  

.formul {
    width: 30rem;
    margin-left: 4rem;
    padding-bottom: 5rem;
    margin-top: 4rem;
    transition: 0.5s ease-in-out;
    background-color: var(--cream);
    border-radius: var(--border-radius);
    padding: 2rem;
    margin-bottom: 2rem;
}

.text {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.35rem;
    padding: 0.5rem;
    border: 0 solid transparent;
    background-color: var(--white);
}

.text:focus{
    background-color: rgb(222, 255, 255);
}

.inscription {
    display: flex;
    justify-content: center;
    color: var(--red);
    background-color: var(--red);
}

.envoyer{
    background-color: var(--red);
    border-radius: 0.75rem;
    width: 30%;
    padding: 0.7rem;
    cursor: pointer;
    color: var(--cream);
    transition: all 0.3s ease-in-out;
}

.envoyer:hover{
    background-color: var(--cream);
    color: var(--red);
}

.envoyer:active{
    transform: scale(0.8);
}