

























































.nav{

    
}


.logo {


}

#mentions ul li {
    display: inline-block;



}
.rezofoot{
    display: flex;
    justify-content: center;
    border: solid;
    padding: 50px;
    margin:75px; 
}